.nav-wrapper {
    /* background-color: rgb(47, 47, 47) !important; */
    /* background-color: #753513; */
    height: 85px !important;
    border-style: none none outset none; 
    border-color: black;
    border-width: 3px;
}

.TitleText {
    font-size: calc(20px + 2vmin);
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 3px black;
    position: relative;
    top: -7px;
  }

.nav-wrapper ul li {
    padding-right: 40px !important;
    padding-left: 40px !important;
}

.NavBarText {
    font-size: calc(10px + 2vmin);
    color: rgb(255, 255, 255);
    position: relative;
    padding-top: 3%;
    text-shadow: 3px 3px 3px black;
  }

.titleLogo {
  height: 50px;
  width: 50px;
}

.buttonIcon {
  cursor: pointer;
  user-select: none;
}